@inherits SSMLBuilder.SSMLPage<string>
<speak>
    <p>
        The round @Model has been started.
        You can now continue with the role distribution by saying "start the role distribution"".
    </p>
</speak>