<speak>
    <p>
        I can take the position of the gamemaster in multiple games.
    </p>
    <p>
        Not only I can help you distributing your hidden roles in the game Secret Hitler, but also help you with the night phase of "One Night Ultimate Werewolf" by leading you through each individual phase.
    </p>
    <p>
        To start a new game, just say "Alexa, ask Role Servant to start a new game".
    </p>
    <p>
        If you have started a game, you can either start the night phase with "Alexa, tell Role Servant to go to sleep" or start a new distribution phase by telling the Role Servant to start the role distribution.
    </p>
    <p>
        So, now that you know everything, what do you want to do?
    </p>
</speak>