<speak>
    <p>
        Role Servant has been started.
    </p>
    <p>
        To start a new game, just tell me to start a new game.
    </p>
    <p>
        If you've already started a game, tell me to either start the night phase or start the role distribution.
    </p>
    <p>
        What should I do?
    </p>
</speak>