<speak>
    <p>
        Everybody, go to sleep!
        <break time='5s'/>

        Gamemaster, open your eyes!
        <break time='3s'/>

        Gamemaster, please turn around the card and take a look at the card.
        <break time='8s'/>
        
        Gamemaster, please close your eyes.
        <break time='3s'/>

        Insider, open your eyes and take a peek at the card.
        <break time='8s'/>
    
        Insider, please close your eyes.
        <break time='3s'/>
        
        Gamemaster, please open your eyes and turn the card, so nobody else can see it anymore.
        <break time='8s'/>
        
        Everybody awake! The round begins.
    </p>
</speak>