@inherits SSMLBuilder.SSMLPage<short>

<speak>
    <p>
        Secret Hitler wurde mit einer Spieleranzahl von @Model gestartet.
        Falls du jetzt mit der Rollenverteilung beginnen möchtest, kannst du jetzt "Starte die Rollenverteilung" sagen.
    </p>
</speak>