<speak>
    <p>
        Um Vollmondnacht Werwölfe spielen zu können, musst du dir vorerst ein Deck auf der Seite
        <lang xml:lang="en-US">www.role-servant.me</lang> zusammenstellen und dir eine <lang xml:lang="en-US">Deck-ID</lang> generieren lassen.
    </p>
    <p>
        Bitte wähle für Vollmondnacht Werwölfe die <lang xml:lang="en-US">Deck-ID</lang> eines Rollen-<lang xml:lang="en-US">Sets</lang> aus, die du dir generiert hast.
    </p>
</speak>