@inherits SSMLBuilder.SSMLPage<RoleShuffle.Application.Games.OneNightUltimateWerewolf.OneNightUltimateWerewolfRound>

<speak>
    <p>
        Die Nachtphase beginnt in
        5<break time='0.3s' />
        4<break time='0.3s' />
        3<break time='0.3s' />
        2<break time='0.3s' />
        1<break time='0.8s' />
        Alle Spieler schließen bitte jetzt die Augen!
        <break time='5s' />

        @if (Model.RoleSelection.Doppelganger > 0)
        {
        <p>
            Dorfgängerin, bitte öffne deine Augen!
            <break time='10s' />
            Dorfgängerin, bitte schließe deine Augen wieder.
            <break time='3s' />
        </p>
    }

        @if (Model.RoleSelection.Werewolf > 0)
        {
            <p>
                Werwölfe, bitte öffnet eure Augen!
                <break time='10s' />
                Werwölfe, bitte schließt eure Augen wieder.
                <break time='3s' />
            </p>
        }

        @if (Model.RoleSelection.Minion > 0)
        {
            <p>
                Günstling, bitte öffne deine Augen!
                <break time='2s' />
                Werwölfe, bitte hebt mit Augen zu eure Daumen, damit der Günstling euch identifizieren kann!
                <break time='7s' />
                Günstling, bitte schließe deine Augen.
                Werwölfe, bitte nehmt jetzt eure Hände wieder in eine natürliche Position zurück.
                <break time='3s' />
            </p>
        }

        @if (Model.RoleSelection.Mason > 0)
        {
            <p>
                Freimaurer, bitte öffnet die Augen!
                <break time='10s' />
                Freimaurer, bitte schließt eure Augen.
                <break time='3s' />
            </p>
        }

        @if (Model.RoleSelection.Seer > 0)
        {
            <p>
                Seher, bitte öffne deine Augen!
                <break time='10s'/>
                Seher, bitte schließe deine Augen.
                <break time='3s'/>
            </p>
        }

        @if (Model.RoleSelection.Robber > 0)
        {
            <p>
                Räuber, bitte öffne deine Augen!
                <break time='10s' />
                Räuber, bitte schließe deine Augen.
                <break time='3s' />
            </p>
        }

        @if (Model.RoleSelection.Troublemaker > 0)
        {
            <p>
                Unruhestifterin, bitte öffne deine Augen!
                <break time='10s' />
                Unruhestifterin, bitte schließe deine Augen.
                <break time='3s' />
            </p>
        }

        @if (Model.RoleSelection.Drunk > 0)
        {
            <p>
                Betrunkener, bitte öffne deine Augen!
                <break time='10s' />
                Betrunkener, bitte schließe deine Augen.
                <break time='3s' />
            </p>
        }

        @if (Model.RoleSelection.Insomniac > 0)
        {
            <p>
                Schlaflose, bitte öffne deine Augen!
                <break time='10s' />
                Schlaflose, bitte schließe deine Augen.
                <break time='3s' />
            </p>
        }

        Alle Spieler dürfen ihre Augen wieder weit öffnen und die Tagesphase beginnt.
        </p>
    </speak>