@using System.Linq;
@using System.Collections.Generic;
@using RoleShuffle.Application.Abstractions.Games;

@inherits SSMLBuilder.SSMLPage<IEnumerable<IGame>>

<speak>
    <p>
        Folgende Spiele sind zurzeit verfügbar:
    </p>
    <p>
        @foreach (var game in ((IEnumerable<IGame>)Model)?.OrderBy(p => p.GameNumber).ToList() ?? new List<IGame>())
        {
            WriteLiteral($"{game.GameNumber}:. {await game.GetLocalizedGamename("de-DE")}.\r\n");
        }
    </p>
    <p>
        Bitte suchen Sie ein Spiel aus, indem Sie die dazugehörige Zahl auswählen.
    </p>
</speak>