@using System.Linq
@using System.Collections.Generic;
@using RoleShuffle.Application.Abstractions.Games;

@inherits RazorEngine.Templating.TemplateBase<IEnumerable<IGame>>

<speak>
    <p>
        Folgende Spiele sind zurzeit verfügbar:
    </p>
    <p>
        @foreach (var game in ((IEnumerable<IGame>)Model)?.OrderBy(p => p.GameNumber).ToList() ?? new List<IGame>())
        {
            WriteLiteral($"{game.GameNumber}:. {game.GameName}.");
        }
    </p>
    <p>
        Bitte suchen Sie ein Spiel aus, indem Sie die dazugehörige Zahl auswählen.
    </p>
</speak>";