@inherits RazorEngine.Templating.TemplateBase<string>

<speak>
    <p>
        Du hast in dem Spiel @Model keine aktive Runde offen. Bitte starte zuerst eine neue Runde mit "Starte neue Runde".
    </p>
</speak>