@inherits SSMLBuilder.SSMLPage<string>

<speak>
    <p>
        Die Runde @Model wurde gestartet.
        Falls du jetzt mit der Rollenverteilung beginnen möchtest, kannst du jetzt "Starte die Nacht-Phase" sagen.
    </p>
</speak>