<speak>
    <p>
        Ich kann den Spielleiter in mehreren Rollenspielen übernehmen.
    </p>
    <p>
        Ich helfe nicht nur bei der Verteilung der versteckten Rollen im Spiel Secret Hitler, ich kann dich auch durch die enzelnen Nachtphasen bei Werfwolf geleiten.
    </p>
    <p>
        Sage mir zum Beispiel "Alexa, sage Rollen Knecht, ich möchte ein neues Spiel starten".
        Wenn du ein Spiel gestartet hast, kannst du je nach Spiel mit der Nachtphase oder der Rollenverteilung beginnen.
    </p>
    <p>
        Jetzt, wo ich dir alles erzählt habe, was möchtest du machen?
    </p>
</speak>