<speak>
    <p>
        Der Rollen Knecht kann den Spielleiter für mehrere Spiele übernehmen.
        Ich helfe unter anderem bei der Rollenverteilung von Secret Hitler helfen, kann aber auch in Nachtphase von Werfwolf die einzelnen Phasen ansagen.
        Sage mir zum Beispiel: Alexa sage Rollen Knecht, ich möchte ein neues Spiel starten.
        Alles weitere erfahrt ihr dann im Anschluss.
    </p>
</speak>