@inherits SSMLBuilder.SSMLPage<short>

<speak>
    <p>
        A new round of Secret Hitler with @Model players was started.
        If you'd like to start with the role distribution, you can say "start the role distribution now".
    </p>
</speak>