@using RazorEngine.Templating
@inherits TemplateBase<dynamic>

<speak>
    <p>
        Bitte wählen Sie für Secret Hitler eine Spielerzahl zwischen @Model.MinPlayers und @Model.MaxPlayers aus.
    </p>
</speak>