<speak>
    <p>
        Die gewählte Deck-<phoneme alphabet="ipa" ph="ˈaiˈdiː">ID</phoneme> konnte nicht gefunden werden.
    </p>
    <p>
        Bitte wählen Sie für Vollmondnacht Werwölfe eine Deck-<phoneme alphabet="ipa" ph="ˈaiˈdiː">ID</phoneme> aus, die sie sich vorher generiert haben lassen.
    </p>
</speak>