@using System.Collections.Generic
@using System.Linq
@inherits RazorEngine.Templating.TemplateBase<RoleShuffle.Application.Abstractions.Model.RoleSelection>

@{
    string AddRoleToSummary(short amount, string singular, string plural)
    {
        if (amount > 0)
        {
            if (amount == 1)
            {
                return $"{singular}";
            }

            return $"{amount} {plural}";
        }

        return null;
    }

    string BuildSummary()
    {
        var rolesIncluded = new List<string>
        {
            AddRoleToSummary(Model.Drunk, "Ein Betrunkener", "Betrunkene"),
            AddRoleToSummary(Model.Villager, "Ein Dorfbewohner", "Dorfbewohner"),
            AddRoleToSummary(Model.Mason, "Ein Freimaurer", "Freimaurer"),
            AddRoleToSummary(Model.Hunter, "Ein Jäger", "Jäger"),
            AddRoleToSummary(Model.Robber, "Ein Räuber", "Räuber"),
            AddRoleToSummary(Model.Insomniac, "Eine Schlaflose", "Schlaflose"),
            AddRoleToSummary(Model.Seer, "Eine Seherin", "Seher"),
            AddRoleToSummary(Model.Troublemaker, "Eine Unruhestifterin", "Unruhestifter"),
            AddRoleToSummary(Model.Doppelganger, "Eine Doppelgängerin", "Doppelgänger"),
            AddRoleToSummary(Model.Tanner, "Ein Gerber", "Gerber"),
            AddRoleToSummary(Model.Minion, "Ein Günstling", "Günstlinge"),
            AddRoleToSummary(Model.Werewolf, "Ein Werwolf", "Werwölfe")
        };

        rolesIncluded = rolesIncluded.Where(p => !string.IsNullOrEmpty(p)).ToList();

        if (rolesIncluded.Count == 0)
        {
            return null;
        }

        var summary = string.Join(", ", rolesIncluded.Take(rolesIncluded.Count - 1));
        return $"{summary} und {rolesIncluded.Last()}";
    }
}

<speak>
    <p>Das ausgewählte Deck enthält folgende Karten:</p>
    <p>
        @BuildSummary()
    </p>
    <p>Soll das Spiel mit diesem Deck gestartet werden?</p>
</speak>