<speak>
    <p>
        Bitte wähle für Vollmondnacht Werwölfe eine <lang xml:lang="en-US">Deck-ID</lang> eines Rollen-<lang xml:lang="en-US">Sets</lang> aus, das du dir vorher zusammengestellt hast.
    </p>
</speak>