<speak>
    <p>
        To play "One Night Ultimate Werewolf", you have to compile a deck on the site
        www.role-servant.me and generate a Deck-ID for the compiled deck.
    </p>
    <p>
        Please name the deck-id now for the role-set that you've generated.
    </p>
</speak>